*.suo
*/obj/*
*/bin/*
.paket/paket.exe
packages/*
*.DotSettings.user

\.vscode/

StationWalk\.Server/client/dist/
StationWalk\.Server/client/node_modules/*
*.user
.ionide/*
.vs/*
StationWalk.Server/Client/stats.json
StationWalk.Server/.ionide/*
