*.suo
*/obj/*
*/bin/*
.paket/paket.exe
packages/*
*.DotSettings.user

\.vscode/

StationWalk\.Server/Client/dist/
StationWalk\.Server/Client/node_modules/*
*.user
.ionide/*
.vs/*
StationWalk.Server/Client/stats.json
StationWalk.Server/.ionide/*

.fake
.ionide
StationWalk.Server/log/*
node_modules/
StationWalk.Server/Client/debug.log
StationWalk.Server/Client/**/debug.log
